.calendar {
  height: 900px;
}

select.form-control:not([size]):not([multiple]) {
  height: 39px !important;

}

option {
  font-size: 20px;
}

.form-control {
  font-size: 2rem !important;
}

.booking-form {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px 0px;
  margin-top: 15px;
}
