<div class="super-container">

  <!--  WELCOME SECTION  -->

  <div class="jumbotron" id="welcome-jumbo">
    <div class="home-f">
      <div class="jumbotron-items">
        <h2 class="display-4 jumbotron-item">
          Seaview
        </h2>
        <p class="jumbotron-item">
          A beautiful Devon holiday house, perfect for families and large groups
        </p>
        <%= link_to "Book now", book_path, :class => "jumbotron-item book" %>
      </div>
    </div>
  </div>

  <!-- HOUSE OVERVIEW -->

  <div class="overview">
    <div class="container">
      <div class="overview-content">
        <div class="overview-head">
          <h2>House Overview</h2>
        </div>
        <div class="overview-body">

          <ul class="overview-list row">

            <li class="overview-list-item col-lg-2 col-md-4 col-sm-6">
              <div class="icon-circle">
                <i class="fas fa-bed"></i>
              </div>
              <p>6 bedrooms (sleeps up to 11)</p>
            </li>

            <li class="overview-list-item col-lg-2 col-md-4 col-sm-6">
              <div class="icon-circle">
                <i class="fas fa-bath"></i>
              </div>
              <p>4 marbled bathrooms</p>
            </li>

            <li class="overview-list-item col-lg-2 col-md-4 col-sm-6">
              <div class="icon-circle">
                <i class="fas fa-wifi"></i>
              </div>
              <p>High speed Wi-fi</p>
            </li>

            <li class="overview-list-item col-lg-2 col-md-4 col-sm-6">
                <div class="icon-circle">
                  <i class="fas fa-parking"></i>
                </div>
              <p>Parking for 4</p>
            </li>

            <li class="overview-list-item col-lg-2 col-md-4 col-sm-6">
              <div class="icon-circle">
                <i class="fas fa-tree"></i>
              </div>
              <p>Large garden with stunning views and BBQ</p>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>



  <!-- LOCATION  -->

  <div class="location">
    <div class="location-gradient">
      <div class="location-body container">
        <div class="row">
          <div class="left-scene">
            <div id="map" style="width: 500px; height: 500px; opacity: 1;" data-markers="<%= @markers.to_json %>"></div>
          </div>
          <div class="right-scene">
            <h2 class="details-header">Location Details</h2>
            <ul class=location-details>

              <div class="row">
                <li class="col-md-6 location-detail">
                  <p class="detail-head"><u><b><i>Local Attractions</i></b></u></p>
                  <p>Burgh Island, with its famous hotel, is just 5 minutes away, accessible on foot during low-tide. Don't forget to visit the historic 14<sup>th</sup> century Pilchard Inn! </p>
                </li>

                <li class="col-md-6 location-detail">
                  <p class="detail-head"><u><b><i>Activities</i></b></u></p>
                  <p>Gorgeous hiking trails, water-sports, extensive beaches, the Discovery Surf School (suitable for all the family) all within walking distance</p>
                </li>

                <li class="col-md-6 location-detail">
                  <p class="detail-head"><u><b><i>Scenery</i></b></u></p>
                  <p>Located in a UK Area of Outstanding Natural Beauty, there are no shortage of beautiful walking trails within 15 minutes driving distance</p>
                </li>

                <li class="col-md-6 location-detail">
                  <p><u><b><i>Amenities</i></b></u></p>
                  <p>Wide selection of restaurants, excellent local stores (available to deliver groceries, newspapers, etc) </p>
                </li>
              </div>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- GALLERY -->
  <div class="gallery-section">
    <div class="container">
      <h2 class="gallery-header">Gallery</h2>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home' %>
